/* Loading Spiiner */
.lds-container{
  z-index: 999999999999999999;
  margin:0px;
  background-color: #000000c4;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.lds-dual-ring {
  display: block;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body{
  background-color: #fff !important;
}

.container{
  padding-bottom: 100px;
  padding-top: 75px;
}

.bg{
  /* background-color: #dbdbdb !important;
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: -99999; */
}

.page-header{
  color:#fff;
  padding-top: 16px;
  padding-bottom: 0px;
  margin-top: -16px;
  margin-bottom: 15px;

  /* margin-left: -15px;
  margin-right: -15px; */

  padding-left: 15px;
  padding-right: 15px;

  background-color:#dd7b13;
  border-bottom: solid 1px #888888;
  box-shadow: 0px 2px 5px #888888;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  z-index: 99999;
}

.page-header h1{
  font-size: 24px;
}
h1 small{
  color:rgb(241, 241, 241);
  font-size: 12px;
}

.btn-dashboard{
  /* line-height: 50px !important;
  font-size: 24px;
  padding: 60px; */
  margin-bottom: 15px;
}
.btn-dashboard i{
  line-height: 50px !important;
  font-size: 48px;
}

.form-control, .panel, .panel-heading, .btn{
  border-radius: 3px !important;
}
.nav-pills > li > a {
    border-radius: 0px !important;
}
.menu-container{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  display: block;
  position: fixed;
  bottom: 0;
  z-index: 99999;
}

.menu-container .btn{
  border-radius: 0px !important;
}

.menu-container .btn{
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tr-product-box{
  min-height: 20px;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.tr-product-box .product-title{
  font-size: 14px;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.tr-product-box .product-price{
  font-size: 14px;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-group-item{
  margin-bottom: 5px !important;
  box-shadow: 2px 1px 1px 1px #888888;
}

.list-group-item:hover{
  background-color: rgb(218, 218, 218) !important;
  box-shadow: 2px 1px 1px 1px #888888;
}

.clearfix{
  display: block;
  height: 5px;
}

#total_txt{
  font-size: 18px;
  font-weight: bold;
}

.hr{
  border-bottom: 1px solid rgb(148, 148, 148);
  margin-bottom: 5px;
}


.tombol-melayang{
  position: fixed;
  right: 15px;
  bottom: 100px;
}

.btn-circle{
  border-radius: 50%;
  height: 48px;
  width: 48px;
  line-height: 36px;
}

.bg-prmary{
  background-color: #dd7b13 !important;
  border-color: #dd7b13 !important;
}
